.spinner {
  display: flex;
  justify-content: center;
}
.removeButton {
  display: flex;
  justify-content: center;
}
.header-filter {
  display: flex;
  justify-content: left;
}
.search-icon {
  padding-top: 5px;
}
