<div class="container">
    <div class="headerlinks">
      <mat-toolbar color="primary" class="navbar">
        <div class="nav-item">
          <button mat-button routerLink="/dashboard">Dashboard</button>
        </div>
        <div class="nav-item">
          <button mat-button routerLink="/kindergardens">Kindergarden Info</button>
        </div>
        <div class="nav-item">
          <button mat-button routerLink="/about">About</button>
        </div>
      </mat-toolbar>
    </div>
  <br>
    <img width="100%" src={{imagePath}} class="headerimg" alt="Kindergarten-registration image">&nbsp;&nbsp;
<h1>{{ title }}</h1>
</div>
