<br>
<div class="footer-content">
  <div class="footer-information">
    <div class="address">
      <h3>Location:</h3>
      <p>Megafirmenstrasse 1A<br>
        1000 Hauptstadt<br>
        Niederoesterreich</p>
    </div>
    <div class="ceo">
      <h3>CEO:</h3>
      <p>Max Muster<br>
        <a href="mailto:maxmuster@kindergardensignup.com">maxmuster@kindergardensignup.com</a><br>
        Office hours:<br>
        8:00am - 4:00pm weekdays</p>
    </div>
  </div>
  <div class="contact">
    <p>Contact us at: <a href="mailto:info@kindergardensignup.com">info@kindergardensignup.com</a> </p>
  </div>
</div>
