<header>
  <h1>Welcome to Kindergarden SignUP!</h1>
  <p>"Connecting Families with Kindergardens!"</p>
</header>
<section class="about-section">
  <article class="about-section-information">
    <div class="about-section-content">
      <h2>About Us</h2>
      <p>"Kindergarden SignUP!" is your go-to resource for discovering and signing up for the best kindergardens in your
        area. We understand that choosing the right kindergarden for your child is a significant decision, and our
        platform is designed to make the process seamless and enjoyable.</p>
    </div>
    <img src="{{imageChildrenPath}}" alt="Kinder am spielen">
  </article>
</section>
<br>
<section class="pro-section">
  <h2>Why Choose "Kindergarden SignUP!"?</h2>
  <ul class="list-group">
    <li class="list-group-item list-group-item-primary"><strong>Comprehensive Listings:</strong>
      <p>Explore a diverse range of kindergardens, each with detailed profiles, photos,
        and information to help you make informed decisions.</p>
    </li>
    <li class="list-group-item list-group-item-primary"><strong>Easy Sign-Up:</strong>
      <p>Our platform streamlines the sign-up process, allowing you to submit applications to multiple kindergardens effortlessly.</p>
    </li>
    <li class="list-group-item list-group-item-primary"><strong>Community Support:</strong> <p>Join a community of
      parents and guardians who share insights,
      recommendations, and experiences to support each other in the kindergarten selection process.</p>
    </li>
  </ul>
</section>
<br>
<section class="our-mission-section">
  <article class="our-mission-section-information">
    <img src="{{imageGardenerPath}}" alt="Erzieher mit Kindern">
    <div class="our-mission-section-content">
      <h2>Our Mission</h2>
      <p>Our mission is to simplify the kindergarden enrollment process for parents while helping kindergardens
        showcase their unique offerings. We believe in fostering strong connections between families and educational
        institutions to ensure every child receives the best start to their learning journey.</p>
    </div>
  </article>
</section>
<br>
<section class="workflow-section">
  <h2>How It Works</h2>
  <ol class="list-group list-group-numbered">
    <li class="list-group-item list-group-item-primary"><strong>Explore Kindergardens:</strong> <p>Browse through our
      extensive list of partner kindergardens.
      Filter by location, facilities, curriculum, and more to find the perfect match for your child.</p>
    </li>
    <li class="list-group-item list-group-item-primary"><strong>Create Your Profile:</strong> <p>Sign up for a
      "Kindergarden SignUP!" account to create your family
      profile. Provide essential details about your child and your preferences.</p>
    </li>
    <li class="list-group-item list-group-item-primary"><strong>Submit Applications:</strong> <p>Once you've found the
      ideal kindergardens, submit applications
      directly through our platform. Track the status of your applications in real-time.</p>
    </li>
    <li class="list-group-item list-group-item-primary"><strong>Connect with Kindergardens:</strong> <p>Receive updates
      and messages from kindergardens, schedule
      visits, and communicate directly through "Kindergarden SignUP!".</p>
    </li>
  </ol>
</section>
<br>
<section class="get-started-section">
  <article class="get-started-information">
    <div class="get-started-content">
      <h2>Get Started Today!</h2>
      <p>Join "Kindergarden SignUP!" and embark on a stress-free journey to find the perfect kindergarden for your
        child.
        Start exploring and connecting with kindergardens in your area today!</p>
    </div>
    <img src="{{imageSignUp}}" alt="Get started picture">
  </article>
</section>

