<div class="formcontainer">
<form [formGroup]="addChildForm" (ngSubmit)="onSubmit()" class="formboxes">
    <h2>SignUP! HERE</h2>
    <mat-form-field appearance="fill">
      <mat-label>First-/Lastname</mat-label>
        <input matInput placeholder="John Doe" type="text" formControlName="name" required>
        <mat-error *ngIf="addChildForm.get('name').hasError('required')">First- and Lastname required!</mat-error>
        <mat-hint>Last + Firstname</mat-hint>
    </mat-form-field>
    <br />
    <mat-divider></mat-divider>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Birthdate</mat-label>
        <input matInput placeholder="22/07/2020" [matDatepicker]="picker" formControlName="birthDate" required>
        <mat-error *ngIf="addChildForm.get('birthDate').hasError('required')">Birthdate required!</mat-error>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-divider></mat-divider>
    <br>
    <mat-form-field appearance="fill" class="addressformbox">
      <mat-label>Select Kindergarden</mat-label>
        <mat-select formControlName="kindergardenId" required placeholder="Kindergarden xy">
            <mat-option value="" disabled>Please choose Kindergarden</mat-option>
            <mat-option *ngFor="let kindergarden of storeService.kindergardens" [value]="kindergarden.id">
                {{kindergarden.name}}, {{kindergarden.address}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-divider></mat-divider>
    <br />
    <div class="submitbutton">
    <button mat-raised-button color="primary" type="submit" [disabled]="!addChildForm.valid">SignUP!</button>
    </div>
</form>
</div>
