/* kindergarten.component.css */

/* Add your custom styles here */
.kindergarten-images {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.carousel-inner img {
  height: 35rem;
  object-fit: cover;
  width: 100%;
}
.carousel-caption h2{
  font-size: xx-large;
  font-weight: bold;
  color: #ffffff;
  font-family: "Agency FB";
  text-shadow: black 2px 2px 2px;
}
.carousel-caption {
  padding-bottom: 20%;
}
.kindergarten-container {
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.kindergarten-text {
  margin-top: 20px;
}
.kindergarden-infos {
  list-style-type: none;
  padding: 0;
}
.kindergarden-infos li {
  margin-bottom: 20px;
}
#kindergardenCarousel, .accordion {
  margin: 20px;
}
.accordion-body h2 {
  color: #4fa5ff;
  font-size: large;
}
.accordion-image {
  display: flex;
  background-color: #92cef5;
  justify-content: center;
}
.accordion-image img {
  width: 30%;
  height: auto;
}
.accordion-button {
  background-color: #4fa5ff;
}
.accordion-button h2 {
  font-size: x-large;
  color: aliceblue;
  text-shadow: black 1px 1px 1px;
}
